#low {
  color: red;
}

#high {
  color: rgb(15, 161, 15);
}
.cryptoT {
  text-transform: uppercase;
}
.crypto img {
  display: flex;
  height: 42px;
  width: 42px;
}

.search {
  display: flex;
  width: 400px;
  height: 60px;
  border: none;
  text-align: center;
}
.container {
  display: flex;
  text-align: center;
}

#cur {
  width: 110px;
}
.crypto h1 {
  font-size: 16px;
  width: 150px;
}

.crypto {
  display: flex;
  align-items: center;
  padding-right: 24px;

  min-width: 300px;
}

.crp {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}
.cpo {
  flex-direction: column;
  align-items: center;
  display: flex;
}
.align {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75px;
  border-bottom: 1px solid;
  width: 850px;
  justify-content: start;
}
* {
  background-color: white;
}
